#content{
    width: 100%;
    height: auto;
    background: pink;
}
#list_bar{
    width: 1200px;
    height: 28px;
    background: red;
    margin: 15px auto 5px;
    
}
.bread_nav{
    width: auto;
    height: 28px;
    float: left;
    line-height: 28px;
    padding-left: 5px;

}
.bread_nav a{
        cursor: pointer;
}
.second_search{
    display: inline;
}
.second_input{
    display: block;
    height: 20px;
    width: 100px;
    float: left;
    padding: 2px 5px;
}