一个公用的头部*/
#logo{
	width: 100%;
	height: 100px;
}
#logo_center{
	margin: 0 auto;
	height: 100px;
	width: 980px;
}
#logo_center h1{
	background: url(../img/logo.jpg) no-repeat;
	width: 220px;
	height: 100px;
}
/*-------center-------*/
#center{
	width: 1440px;
	height: auto;
	background: white;
	margin: 0 auto;
}
#mobile{
	margin: 0 auto;
	width: 980px;
	height: 26px;
	background: white;
	cursor: pointer;
	border-bottom: 2px solid #6E6E6E;
}
#mobile a{
	height: 26px;
	margin-top: 0;
	font-weight: bold;
	line-height: 26px;
	background-position: 0 -450px;
	background: url(../img/buttonSkin.png) 0 -450px no-repeat;
	color: #FFF;
	float: left;
	width: 160px;
	text-align: center;
}
#content{
	width: 982px;
	height: auto;
	background: white;
	margin: 0 auto;
	border: 1px solid #ccc;
	margin-top: 10px;
}
#form_div{
	width: 743px;
	padding: 20px 0 30px 15px;
	background: white;
	height: auto;
	float: left;
}
/*-----step 1 ------*/
#step1{
	width: 700px;
	font-size: 14px;
	text-indent: 20px;
	line-height: 30px;
	margin-left: 15px;
	border-bottom: 1px dotted #E6E6E6;
}
.step1_user,.step1_pwd,.step1_cCode{
	margin-top: 10px;
	width: 700px;
	background: white;
}
.step1_title{
	width: 120px;
	line-height: 30px;
	height: 30px;
	float: left;
	font-size: 14px;
	color: #666;
	text-align: right;
	margin-right: 5px;
}
#step1_username,#step1_phoneNum{
	border: 1px solid #ABABAB;
	width: 240px;
	height: 28px;
	line-height: 28px;
	padding-right: 5px;
	margin-right: 10px;
	background-image: url(../img/iconSkin.png);
	background-position: 0 -700px;
	background-repeat: repeat-x;
	float: left;
}
#step1_checkCode{
	border: 1px solid #ABABAB;
	width: 120px;
	height: 28px;
	line-height: 28px;
	padding-right: 5px;
	margin-right: 10px;
	background-image: url(../img/iconSkin.png);
	background-position: 0 -700px;
	background-repeat: repeat-x;
	float: left;
}
.tips{
	width: 305px;
    margin-top: -2px;
    display: inline-block;
    color: #999;
	float: left;
	font-size: 12px;
}
.errorInfo,#mobile_checkCode{
	height: 20px;
	color: #F60;
	display: block;
	line-height: 20px;
	font-size: 12px;
	background: white;
	width: 567px;
	float: left;
	margin-left: 125px;
}
#checkCode{
	width: 110px;
	height: 30px;
	float: left;
}
#changeCode{
	width: 36px;
	height: 15px;
	display: block;
	font-size: 12px;
	margin-left: 5px;
	float: left;
}
.setp1_sendcCode{
	width: 700px;
	height: 32px;
	padding: 10px 0;
	background: white;
}
#sendcCode{
	margin-left: 120px;
	margin-right: 20px;
	display: block;
	width: 152px;
	height: 34px;
	background: url(../img/buttons.png) no-repeat -226px -168px;
}
#sendcCode:hover{
	background: url(../img/buttons.png) no-repeat -226px -210px;
}
/*--------right---------*/
#right{
	width: 219px;
	height: 320px;
	background: green;
	float: left;
}
#right img{
	width: 100%;
	height: 100%;
	display: block;
}












